body {
    background-image: url("../images/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
}

.banners {
    background-image: url("../images/bannerbg.png");
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: gray solid 4px;
    border-radius: 20px;
    overflow: auto;
}

.right-section {
    display: block;
    float: right;
    background-color: #A2B964;
    width: 250px;
    height: auto;
}

.deflist {
    padding: 10pt;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 10pt;
}

.links {
    list-style-type: none;
    padding-left: 0;
}

.left-section {
    display: block;
    width: 550px;
}

.rotten {
    background-image: url("../images/rbg.png");
    display: block;
    height: 83px;
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

.rotten>span {
    vertical-align: 13px;
}

.columns {
    display: block;
    columns: 2;
    padding: 15px;
    height: 800px;
}

.comment img {
    float: left;
    margin-right: 5px;
}

.comment {
    display: inline-block;
    padding-bottom: 20px;
    margin: auto;
}

.comment {
    clear: both;
}

.comment p::first-line {
    font-style: normal;
}

.each_comment {
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: gray solid 2px;
    border-radius: 10px;
    padding: 8px;
}

.crticic {
    margin-right: 5px;
    font-style: italic;
}

.page {
    display: inline-block;
    text-align: center;
    background-color: #A2B964;
    width: 790px;
    padding: 5px;
}

.validators {
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    right: 0;
}