/*
	Alemayoh Abrha, ID_No: 611143
	CS472 May 2020
	Maharishi International University
	Lab 8: Assignment
*/

.homelink li {
    font-size: 18px;
    font-style: italic;
    color: rgb(52, 179, 238);
    font-weight: bold;
}