/*
	Alemayoh Abrha, ID_No: 611143
	CS472 May 2020
	Maharishi International University
	Lab 8: Assignment
*/

.homelink li {
    font-size: 19px;
    font-style: italic;
    color: rgb(14, 17, 187);
    font-weight: bold;
}