body {
    color: #404040;
    background-color: white;
    background-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
}

p {
    text-align: left;
}

a {
    text-decoration: none;
    color: #A4A400;
}

a:hover {
    text-decoration: underline;
}

.comment {
    margin-left: 50px;
    background-color: #FFFFA8;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5 {
    color: #A4A400;
    background-color: #F0F0F0;
    display: inline;
    font-family: Lucida, "Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: underline;
    font-size: 18pt;
    text-align: left;
    letter-spacing: 0.25em;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

.block {
    margin: 22%;
    width: 360px;
    padding: 5px;
}

ul.leaf {
    list-style-image: url('https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif');
}

pre {
    font-family: monospace;
    margin-left: auto;
}