/*
	Alemayoh Abrha, ID_No: 611143
	CS472 May 2020
	Maharishi International University
	Lab 7: Creating Bank Account
*/

body {
    background-color: white;
}

.bank_acc {
    padding: 3px;
}

.homelink a {
    font-size: 19px;
    font-style: italic;
    color: rgb(14, 17, 187);
    font-weight: bold;
}