body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: scroll;
    background-color: #92a19a;
    text-align: justify;
    margin: 0px;
}

header {
    overflow: hidden;
    background-color: hsla(171, 64%, 30%, 0.226);
    padding: 20px 10px;
    position: relative;
}

.contact-link>li {
    font-size: 19px;
    display: block;
    padding: 8px;
    list-style-type: none;
    content: "|";
    float: right;
    color: #fff;
}

a {
    text-decoration: none;
    font-style: italic;
    color: rgb(14, 17, 187);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-weight: bold;
    color: rgb(85, 4, 4);
    font-weight: bold;
}

footer {
    overflow: hidden;
    background-color: hsla(171, 64%, 30%, 0.226);
    padding-bottom: 20px 10px;
    text-align: center;
}


/* Avatar image */

img.profile {
    border-radius: 50%;
}

.col-50 #myFile {
    float: right;
}